<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="OpenCvSharp4" version="4.10.0.20241108" />
  <package id="OpenCvSharp4.Extensions" version="4.10.0.20241108" manuallyInstalled="true" />
  <package id="OpenCvSharp4.runtime.win" version="4.10.0.20241108" manuallyInstalled="true" />
  <package id="System.Drawing.Common" version="8.0.0" />
  <package id="System.Reactive" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="6.0.0" />
  <package id="System.Text.Json" version="6.0.2" />
  <package id="lobe" version="1.0.35" />
  <package id="lobe.OpenCVSharp" version="1.0.35" manuallyInstalled="true" />
</packages>