.ControlsContainer
{
	border-top-width: 1px;
	border-color: #181818;
}

.RTSettingsView
{
	border-top-width:1px;
	border-color:#181818;
	background-color:#222;
	padding: 6px;
	padding-left: 10px;
}

.PropertyEditorTitle
{
    -unity-font-style: bold;
    font-size: 14px;
    margin-bottom: 6px;
}

.MaterialInspector
{
	margin: 6px;
	margin-left: 10px;
}

.Hidden
{
	display : none;
}

.Visible
{
	display : flex;
}