.ControlsContainer
{
	border-top: 1;
	border-color: #181818;
}

.PropertyEditorUI
{
	padding: 8;
	background-color : #212121;
	padding-bottom: 10;
}

.PropertyEditorTitle
{
    font-weight: bold;
    font-size: 14;
    margin-bottom: 6;
}

.MaterialInspector
{
	margin-left: 8;
}

.Hidden
{
	display : none;
}

.Visible
{
	display : flex;
}