.Port_Texture {
	--port-color: #F080FF;
}

.Port_RenderTexture {
	--port-color: #F080FF;
}

.Port_Color {
	--port-color: #e0e000;
}

.Port_Single {
	--port-color: #3030FF;
}

.Port_Vector4 {
	--port-color: #FF3030;
}